.footer {
  min-height: 200px;
  color: #fff;
  background: #333;

  &._footer404 {
    .footer__top {
      display: none;
    }
    .footer__smHead{
      margin-bottom: 32px;
    }
  }

  &__top {
    //background-color: #333;
    @include sm{
      margin-bottom: 32px;
    }
    &Box {
      padding-top: 64px;
      padding-bottom: 56px;
      position: relative;
      @include sm{
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }

    &Border {
      position: absolute;
      box-sizing: border-box;
      left: 12px;
      bottom: 0;
      width: 0;
      border-bottom: 1px solid $grey;
      @include tr(1.5s);

      &._animated {
        width: calc(100% - 24px);
      }
    }
  }

  &__cont {
    //background-color: #333;
  }

  &__b1 {
    @include fls;
    width: 28%;
    padding-right: 20px;
    @include xl{
      width: 24%;
    }
    @include lg{
      width: 20%;
    }
    @include md{
      width: 250px;
      margin-bottom: 32px;
    }
    @include sm {
      display: none;
    }
  }

  &__b2 {
    @include df;
    @include flg(1);
    justify-content: space-between;
    @include md{
      flex-wrap: wrap;
      margin-bottom: -50px;
    }
    @include sm {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__logo {
    margin-bottom: 36px;
    @include sm{
      margin-bottom: 16px;
    }

    path {
      @include tr;
      fill: #fff;
    }

    &:hover {
      path {
        fill: $hover;
      }
    }

    &Img {
      display: block;
      max-height: 48px;
      max-width: 166px;
      @include sm{
        max-width: 111px;
      }
    }
  }

  &__main {
    padding: 56px 0;
    display: flex;
    @include md{

    }
    @include sm {
      display: none;
    }

    &Sm {
      @include smm {
        display: none;
      }
    }
  }

  &__desc {
    max-width: 256px;
    font-weight: 300;
    font-size: 11px;
    line-height: 160%;
    @include sm{
      max-width: 351px;
    }

  }

  &__btn {
    @include md {
      margin: 0 auto;
    }
    @include sm {
      width: 100%;
      max-width: none;
    }
  }

  &__item {
    //max-width: 195px;
    @include md{
      margin-bottom: 50px;
    }
    @include sm {
      //max-width: none;
      width: 100%;
      border-bottom: 1px solid #4F4F4F;
      padding-bottom: 24px;
      margin-bottom: 32px;
    }

    &:not(:last-child) {
      padding-right: 24px;
      @include sm{
        padding-right: 0;
      }
    }

    &-title {
      font-size: 14px;
      padding-bottom: 36px;
      @include sm{
        padding-bottom: 25px;
      }
    }

    &-cont {

      p {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 1;
        text-transform: uppercase;
        &:last-child{
          margin-bottom: 0;
        }
      }

      a {
        &:hover {
          color: $hover;
        }
      }
    }
    &Brother{
      padding-bottom: 10px;
    }
    &Soc{
      display: flex;
      align-items: center;
      &Lt{
        width: 100%;
      }
      &Rt{
        flex-shrink: 0;
        margin-left: 20px;
      }
    }
  }


  &__ul {
    margin-bottom: -20px;
    @include sm{
      display: grid;
      grid-template-columns: 1fr 1fr;
      //grid-gap: 20px;
      grid-gap: 15px;
      margin: 0;
    }

    li {
      margin-bottom: 20px;
      @include sm{
        margin: 0;
      }
    }

    a {
      font-size: 12px;
      text-transform: uppercase;

      &:hover {
        color: $hover;
      }
    }
  }

  &__btnUp {
    path, circle {
      @include tr;
    }

    &:hover {
      path, circle {
        stroke: $hover;
      }
    }
  }

  &__bottom {
    @include df;
    @include jcsb;
    @include aic;
    padding: 21px 0;
    border-top: 1px solid #4F4F4F;
    @include sm {
      @include aic;
      flex-direction: column;
      padding: 0 0 32px;
      border-top: 0;
    }
  }

  &__address{
    @include sm{
      margin-bottom: 32px;
    }
  }

  &__copy {
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    padding-right: 15px;
    @include sm {
      padding-right: 0;
      margin-bottom: 24px;
    }
  }

  &__made {
    @include sm {
      color: #fff;
    }

    path {
      @include tr;
    }

    &:hover {
      path {
        fill: $hover;
      }
    }
  }

  .smmHide {
    @include smm {
      display: none;
    }
  }

  &__smHead {
    padding: 48px 0 32px;
    border-bottom: 1px solid #4F4F4F;
    @include smm {
      display: none;
    }
    @include sm {

    }
  }
}

.subscribe {
  @include row();
  @include jcsb;
  @include aic;
  @include sm {
    flex-direction: column;
    align-items: stretch;
  }

  &__lt {
    @include col(4, m);
    @include sm{
      @include col(8, m);
      margin-bottom: 24px;
    }
  }

  &__rt {
    @include col(4, m);
    @include sm{
      @include col(8, m);
    }
  }

  &__title {
    font-size: 16px;
    line-height: 150%;
    max-width: 360px;
  }

  &__form {
    @include df;
    @include jcsb;
    @include aic;
    border: 1px solid #4F4F4F;
    border-radius: 4px;
    position: relative;
    color: #fff;
    transition: border 0.4s ease-out;

    &_white {
      border-color: #fff;
    }

    &._focus{
      border-color: $focus;
    }

    .form__error {
      position: absolute;
      top: 100%;
      margin: 4px 0 0;
      left: 0;
      text-align: left;
    }
  }

  &__input {
    align-self: stretch;
    min-height: 54px;
    border-right: none;
    padding: 5px 5px 5px 63px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    background-color: transparent;
    @include placeholder(#4F4F4F);
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    background-position: left 23px center;
    background-size: 23px;
    border-radius: 4px 0 0 4px;
    width: 100%;
    display: block;
    overflow: hidden;

    @include sm{
      padding-left: 48px;
      background-position: left 18px center;
    }

    &_white {
      @include placeholder(#fff);
    }
  }

  &__btn {
    align-self: stretch;
    padding: 5px 24px;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    border-radius: 0 4px 4px 0;
    background: transparent;
    margin: -1px;
    flex-shrink: 0;
    overflow: hidden;
    display: block;
    @include sm{
      padding: 5px 16px;
    }

    &:hover {
      background: $hover;
    }

  }
}

.social {
  @include df;
  @include fww;
  @include aic;

  &__item {
    height: 24px;
    width: 24px;
    margin-right: 24px;

    path {
      @include tr;
    }

    &:hover {
      border-color: $hover;

      path {
        stroke: $hover;
      }
    }
  }

  &__ic {
    height: 30px;
    width: auto;
    @include md {
      height: 24px;
    }
  }
}