.mainTop {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 160px 0 158px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @include sm {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  &._slidePlay {
    .mainTopNav__item {
      //pointer-events: none;
    }
  }

  &__wr {
    transition: height 0.5s;
  }

  &__img {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    //transform-origin: right bottom;
    z-index: -4;
    overflow: hidden;
    width: 0;
    height: 0;
    margin-top: 0;
    margin-left: -20px;

    &._hover {
      border-radius: 50%;
      opacity: 1;
      width: 90px;
      height: 90px;
      margin-top: -15px;
      margin-left: -35px;
      z-index: -2;
      transition: opacity 0.6s, width 0.6s, height 0.6s, margin 0.6s;
    }

    &._active {
      width: 100%;
      height: 100%;
      margin-left: 0;
      margin-top: 0;
      opacity: 1;
      z-index: -3;
      @include tr(1s);
    }

    &Fon {
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      width: 100%;
      height: 100%;
      @include smm {
        background-attachment: fixed;
      }
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.6;
    @include tr;
  }


  &__item {
    position: absolute;
    left: 12px;
    top: 0;
    right: 12px;
    //@include tr;
    //opacity: 0;
    //z-index: -1;
    //visibility: hidden;
    display: none;

    &._active {
      //opacity: 1;
      //z-index: 1;
      //visibility: visible;
    }
  }

  &__row {
  }

  &__lt {
    clear: both;
  }

  &__title {
    margin-bottom: 30px;

    span {
      display: inline;
    }
  }

  &__rt {
    margin-top: 26px;
    @include md {
      margin-top: 0;
    }
  }

  &__desc {
    max-width: 318px;
    margin-bottom: 56px;
    font-size: 18px;
    line-height: 1.5;

    @include sm {
      font-size: 14px;
      margin-bottom: 24px;
    }

    p {
      font: inherit;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.mainTopNav {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;

  &._animated {
    &:before {
      width: 100%;
    }
  }

  &:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    left: 0;
    bottom: 9px;
    width: 0;
    opacity: 0.5;
    border-top: 1px solid #333333;
    transition: width 1.5s ease-out;
  }

  &__items {
    @include df;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      left: 50%;
      top: 50%;
      width: 90px;
      height: 90px;
      margin-top: 10px;
      @include tXY;
      @include md {
        width: 40px;
        height: 40px;
      }
    }

    &._active {
      .mainTopNav__title {
        opacity: 1;
      }

      .mainTopNav__ic {
        border-color: #fff;

        &:before {
          background: #CB0D58;
        }
      }
    }
  }

  &__title {
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 3px;
    @include tr;
    opacity: 0;
  }

  &__ic {
    display: block;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid transparent;
    position: relative;
    @include tr;

    &:before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      width: 6px;
      height: 6px;
      left: 50%;
      top: 50%;
      @include tXY;
      background: #fff;
      border-radius: 50%;
    }
  }
}

.bAbout {
  overflow: hidden;

  &__bTitle {
    @include sm {
      margin-top: 48px;
    }
  }

  &__row {
    @include row();
    justify-content: space-between;
    position: relative;
    @include md {
      flex-direction: column;
    }
  }

  &__lt {
    @include col(4, m);
    position: relative;
    @include md {
      width: auto;
      max-width: max-content;
    }
  }

  &__rt {
    @include col(3, m);
    @include md {
      @include col(8, m);
      position: relative;
    }
  }

  &__btn_white {
    background: #fff;
  }

  &__logo {
    position: absolute;
    left: 25%;
    z-index: -1;
    @include md {
      max-width: 375px;
      top: 12px;
      left: 66px;
    }
  }

  &__quote {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -32px;
    width: 64px;
    height: 64px;
    border: 1px solid $red;
    border-radius: 50%;
    background: url("../img/quote.svg") no-repeat center center;
    @include md {
      width: 48px;
      height: 48px;
      background-size: 16px;
      margin-top: -24px;
    }
  }

  &__title {

  }

  &__desc {
    margin-bottom: 40px;
    @include md {
      margin-bottom: 32px;
    }
  }

  &__b {
    //padding-left: 50%;
    margin-bottom: 64px;
    @include lg {
      //padding-left: 20%;
    }
    @include md {
      //padding-left: 0;
      margin-bottom: 32px;
    }
  }

  &__desc1 {
    //max-width: 560px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__pic {
    background: #FAFAFA;
    padding: 32px;
    @include xl {
      padding: 28px;
    }
    @include lg {
      padding: 24px;
    }
    @include md {
      padding: 20px;
    }
    @include sm {
      padding: 12px;
    }

    &._animated {

    }

  }

  &__img {
    display: block;
    width: 100%;
  }

  &__foto {
    @include md {
      max-width: 50%;
      margin-bottom: 32px;
    }

    @include sm {
      max-width: 168px;
      margin-bottom: 24px;
    }
    &_home{
      @include md{
        max-width: 400px;
      }
    }
  }

  &__video {
    position: relative;
    //background-image: url("../img/video.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000;
      opacity: 0.7;
      @include tr;
    }

    &:hover {
      .bAbout__videoBtn {
        color: $hover;

        path {
          stroke: $hover;
        }
      }
    }

    &._play {
      .bAbout__videoB {
        opacity: 1;
      }
    }

    &Btn {
      @include df;
      @include jcc;
      @include aic;
      position: absolute;
      top: 50%;
      left: 50%;
      @include tXY;
      font-size: 14px;
      line-height: 12px;
      color: #fff;
      @include tr;

      &Ic {
        margin-right: 16px;
        flex-shrink: 0;
      }

      &Title {
      }

      path {
        @include tr;
      }
    }

    &B {
      opacity: 0;
      @include tr;
      z-index: 1;
      position: relative;
    }
  }
}

.bFoto {
  &_home{

  }
  &__pic {
    margin-bottom: 16px;
    height: 640px;
    @include lg {
      height: 468px;
    }
    @include md {
      height: 490px;
    }
    @include sm {
      height: 220px;
      margin-bottom: 8px;
    }
    &_home{
      @include smm{
        margin-bottom: 40px;
      }
      @include md{
        height: auto;
      }
      @include sm{
        margin-bottom: 20px;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__foot {
    position: relative;
    padding-left: 84px;
    margin-top: 45px;
    margin-bottom: 40px;
    @include md {
      padding-left: 60px;
    }
    @include sm{
      margin: 20px 0;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 24px;
    color: #030303;
    @include sm {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__desc {
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    color: #CB0D58;
    margin-top: 8px;
    @include sm {
      margin-top: 2px;
    }
  }
}

.titers {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  margin: 72px 0;

  @include md {
    margin: 40px 0;
  }

  &__main {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      .titers__list {
        //animation-play-state: paused;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    //animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: titers;

    &_revers {
      animation-direction: reverse;
    }
  }

  &__item {
    white-space: nowrap;
    font-family: $font2;
    font-weight: 800;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
    color: #CB0D58;
    display: flex;
    align-items: center;

    @include lg {
      font-size: 40px;
    }
    @include md {
      font-size: 30px;
    }

    span {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 0.4px $red;
      white-space: nowrap;
      padding: 0 6px;
    }
  }

}

.bProgram {
  overflow: hidden;

  &_event {
    .sProgram__wNav {
      margin-bottom: 0;
    }
  }

  &__row {
    @include col-pl(2);
    padding-bottom: 48px;
    position: relative;
    z-index: 1;

    @include md {
      padding-left: 0;
      padding-bottom: 40px;
    }

    &._animated {
      &:before {
        @include tr(1.5s);
        transform: translateX(0%);
      }
    }

    &:before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      left: -50vw;
      right: -50vw;
      top: 112px;
      bottom: 0;
      background: $grey2;
      z-index: -2;
      transform: translateX(100%);
    }
  }

  &__dragIc {
    position: absolute;
    top: 50%;
    left: 83px;
    z-index: -1;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    @include md {
      display: none;
    }
  }

  &__desc {
    margin-bottom: 82px;
    @include xl {
      margin-bottom: 70px;
    }

    @include lg {
      margin-bottom: 60px;
    }

    @include md {
      margin-bottom: 32px;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__b {
  }

  &__foot {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include md {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__desc1 {

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__btn {
    margin-top: 10px;
    @include md {
      margin-top: 24px;
    }
  }

}

.bBlog {
  //overflow: hidden;
  &_single {
    padding-bottom: 124px;
    @include sm {
      padding-bottom: 80px;
    }
  }

  &__btn {
    margin: 64px auto 0;
    @include sm {
      margin-top: 24px;
    }
  }

}

.bNews {
  @include row(72px);
  align-items: stretch;
  margin-bottom: -72px;

  @include lg {
    @include row(32px);
    margin-bottom: -32px;
  }
  @include sm {
    margin-bottom: -24px;
  }

  &__item {
    flex-shrink: 0;
    width: calc(33.333% - 72px);
    margin: 0 36px 72px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-top: 1px solid #E0E0E0;
    padding-top: 24px;

    @include lg {
      width: calc(33.333% - 20px);
      margin: 0 10px 32px;
    }
    @include md {
      @include col(4, m);
      margin-bottom: 24px;
      padding-top: 0;
      padding-bottom: 24px;
      border-top: 0;
      border-bottom: 1px solid #E0E0E0;
      flex-direction: column-reverse;
    }
    @include sm {
      @include col(8, m);

      .bNews__txt {
        margin: 36px 0 0;
      }
    }

    &:nth-child(3n+2) {
      @include mdm {
        padding-top: 0;
        padding-bottom: 24px;
        border-top: 0;
        border-bottom: 1px solid #E0E0E0;
        flex-direction: column-reverse;

        .bNews__txt {
          margin: 36px 0 0;
        }
      }
    }


    &:hover {
      .bNews__img {
        transform: scale(1.2);
      }
    }
  }

  &__wImg {
    border: 16px solid $grey2;
    overflow: hidden;
    position: relative;
    @include md {
      border-width: 12px;
    }
  }

  &__img {
    display: block;
    height: 232px;
    width: 100%;
    object-fit: cover;
    @include tr(1.5s);

    @include xl {
      height: 212px;
    }
    @include lg {
      height: 181px;
    }
    @include md {
      height: 220px;
    }
    @include sm {
      height: 208px;
    }
  }

  &__txt {
    margin-bottom: 36px;
    @include md {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 150%;
    color: #000000;
  }

  &__info {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__date {
    margin-right: 20px;
  }

  &__cat {
    color: #828282;
  }
}

.bPartners {
  overflow: hidden;
  padding-bottom: 136px;
  @include md {
    padding-bottom: 80px;
  }

  &__row {
  }

  &__title {
  }

  &__desc {
    margin-bottom: 68px;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}