.pAbTop {
  padding-top: 112px;

  @include sm {
    padding-top: 80px;
  }

  &__row {
  }

  &__title {
    margin-bottom: 48px;
    @include sm {
      margin-bottom: 32px;
    }
  }

  .imgBorder {
    margin-left: -64px;
    margin-bottom: 104px;

    @include md {
      margin-left: -12px;
      margin-bottom: 24px;
    }
  }
  &__desc{
    p{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.pAbB {
  justify-content: space-between;

  &__col {
    &_2 {
      padding-top: 88px;
      @include md {
        padding-top: 0;
      }
    }

    &_pt0 {
      padding-top: 0;
    }
  }

  &__txt {
    &:not(:last-child) {
      margin-bottom: 72px;
      @include md {
        margin-bottom: 24px;
      }
    }
  }

  &__img {
    @include md {
      margin-bottom: 24px;
    }
    &Custom{
      max-height: 626px;
      width: auto;
      object-fit: cover;
      &:not(:last-child){
        margin-bottom: 104px;
        @include md {
          margin-bottom: 24px;
        }
      }
      @include md {
        margin-bottom: 24px;
        margin-left: -12px;
        max-width: none;
        width: calc(100% + 24px);
      }
    }
  }
}

.pAbB1 {
  padding: 104px 0;
  justify-content: space-between;
  position: relative;

  @include md {
    padding: 0;
    margin: 32px 0 56px;
  }

  &__logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &__col {

    &_1 {
    }

    &_2 {
      position: relative;
    }
  }

  &__quote {
    margin-bottom: 58px;
    @include md {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.pAbValues {
  background: $grey2;
  padding: 80px 0;

  @include md {
    padding: 60px 0;
  }

  @include sm {
    padding: 32px 0;
  }

  &__title {
    margin-top: 0;
  }

  &__desc {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.values {
  @include df;
  @include fww;
  @include row(20px);
  margin-top: 40px;

  @include md {
    margin-top: 32px;
    margin-bottom: -32px;
  }


  &__item {
    @include col(2, m, 20px);
    @include md {
      @include col(4, m);
      margin-bottom: 32px;
    }
    @include sm {
      @include col(8, m);
    }
  }

  &__pic {
    @include df;
    @include jcc;
    @include aic;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid $red;
    margin-bottom: 24px;
    @include sm {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__img {
    display: block;
  }

  &__desc {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.pAbPerform {

}

.performance {
  @include df;
  @include fww;
  @include row(20px);
  margin-bottom: -20px;


  &__item {
    @include col(2, m, 20px);
    margin-bottom: 20px;
    padding: 32px 40px 60px;
    text-align: center;
    border: 1px solid #E0E0E0;

    @include lg {
      padding: 32px 20px;
    }

    @include md {
      @include col(4, m);
    }

    @include sm {
      padding: 16px 5px 32px;
    }
  }

  &__title {
    font-family: $font2;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 8px;

    @include lg {
      font-size: 32px;
      line-height: 1.2;
    }

    @include sm {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 4px;
    }
  }

  &__sub {
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    min-height: 58px;
    max-height: 58px;
    overflow: hidden;
    margin-bottom: 25px;

    @include lg {
      font-size: 16px;
      line-height: 1.4;
      max-height: 67px;
    }

    @include sm {
      font-size: 14px;
      line-height: 1.2;
      margin-bottom: 13px;
    }
  }

  &__pic {
    @include df;
    @include jcc;
    @include aic;
    height: 180px;
    background-image: url("../img/performance1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    @include lg {
      height: 150px;
    }
    @include sm {
      height: 120px;
    }
  }

  &__img {
    position: absolute;
    z-index: -1;
  }

  &__num {
    font-family: $font2;
    font-weight: 800;
    font-size: 96px;
    color: #CB0D58;

    @include lg {
      font-size: 78px;
    }

    @include sm {
      font-size: 72px;
    }

    span:nth-child(2) {
      font-size: 0.40em;
      @include sm {
        font-size: 24px;
      }
    }
  }
}

.spec {
  &Tab {
    @include df;
    @include fww;
    @include aic;
    margin-bottom: 40px;
    @include sm {
      margin-bottom: 0;
    }

    @include sm {
      flex-direction: column;
      align-items: stretch;
    }

    &__item {
      margin: 0 48px 15px 0;
      font-size: 20px;
      line-height: 170%;
      border-bottom: 1px solid transparent;
      position: relative;

      &._active {
        color: $hover;
        border-color: $hover;

        .specTab__itemIc {
          transform: rotate(-180deg);

          path {
            stroke: $hover;
          }
        }
      }

      @include sm {
        margin: 0 0 16px;
        padding-right: 15px;
        border-bottom: none;
      }

      &Ic {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -3px;
        @include tr;

        @include smm {
          display: none;
        }

        path {
          @include tr;
        }

        /*&:hover{
          color: $hover;
          path{
            fill: $hover;
          }
        }*/
      }
    }

    &__sm {
      @include smm {
        display: none !important;
      }
    }
  }


  &Cont {
    overflow: hidden;
    @include tr(1s);
    transition-delay: 1s;
    margin-bottom: -58px;

    @include lg {
      margin-bottom: -40px;
    }

    @include sm {
      margin-bottom: -16px;
    }

    &__b {
      transition: opacity 0.4s;
      opacity: 0;

      &._active {
        opacity: 1;
      }
    }

    &__items {
      @include row(58px);

      @include lg {
        @include row();
      }
    }

    &__item {
      width: calc(33.333% - 58px);
      margin: 0 29px 58px;

      @include lg {
        margin: 0 10px 40px;
        width: calc(33.333% - 20px);
      }

      @include md {
        @include col(4);
        margin: 0 0 40px;
      }

      @include sm {
        margin-bottom: 16px;
      }
    }
  }
}

.spec {
  &__pic {
    height: 536px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    @include sm {
      height: 220px;
      margin-bottom: 8px;
    }

    &:hover {
      .spec__hover {
        > * {
          visibility: visible;
          opacity: 1;
          transition-delay: 0.3s;
        }

        &:before {
          transform: scale(1);
        }
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__hover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    z-index: 1;
    @include tr;

    @include xl {
      padding: 30px;
    }
    @include lg {
      padding: 25px;
    }

    @include sm {
      padding: 15px;
    }

    > * {
      @include tr;
      opacity: 0;
      visibility: hidden;
    }

    &:before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      width: 1360px;
      height: 1360px;
      border-radius: 50%;
      background: #CB0D58;
      opacity: 0.8;
      z-index: -1;
      left: -680px;
      top: -680px;
      transform: scale(0);
      //transform-origin: 0 0;
      transition: transform 0.6s;
    }

    &Top {
      border-bottom: 1px solid #FFFFFF;
      padding-bottom: 24px;
      margin-bottom: 24px;
      width: 100%;
      @include sm{
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
    }

    &Title {
      font-weight: 300;
      font-size: 24px;
      line-height: 35px;

      @include sm{
        font-size: 18px;
        line-height: 1.2;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &Sub {
      font-size: 10px;
      line-height: 15px;
      text-transform: uppercase;
    }

    &Desc {
      max-height: 259px;
      overflow: hidden;
      margin-bottom: 20px;

      @include sm {
        display: none;
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &Btn {
      font-size: 16px;
      line-height: 170%;
      text-decoration: underline;
      color: #FFFFFF;
      margin-top: auto;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 8px;

    @include sm {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 2px;
    }
  }

  &__sub {
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    color: #CB0D58;
  }
}

