@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circe-Extra-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circe-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circle-Regular.woff") format("woff");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circe-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circe-Extra-Light.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circe-Thin.woff") format("woff");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Parimatch";
  font-display: swap;
  src: url("../fonts/Parimatch-Bold.eot?#iefix") format("embedded-opentype");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Parimatch";
  font-display: swap;
  src: url("../fonts/Parimatch-Medium.woff") format("woff");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Parimatch";
  font-display: swap;
  src: url("../fonts/Parimatch-Regular.woff") format("woff");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Parimatch";
  font-display: swap;
  src: url("../fonts/Parimatch-Light.woff") format("woff");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Parimatch";
  font-display: swap;
  src: url("../fonts/Parimatch-Thin.woff") format("woff");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 100;
}