@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circe-Extra-Bold.eot");
  /* IE9 */
  src: url("../fonts/Circe-Extra-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Circe-Extra-Bold.woff") format("woff"),
  url("../fonts/Circe-Extra-Bold.ttf") format("truetype"),
  url("../fonts/Circe-Extra-Bold.svg#Circe Extra Bold") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circe-Bold.eot");
  /* IE9 */
  src: url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Circe-Bold.woff") format("woff"),
  url("../fonts/Circe-Bold.ttf") format("truetype"),
  url("../fonts/Circe-Bold.svg#Circe Bold") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circle-Regular.eot");
  /* IE9 */
  src: url("../fonts/Circle-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Circle-Regular.woff") format("woff"),
  url("../fonts/Circle-Regular.ttf") format("truetype"),
  url("../fonts/Circle-Regular.svg#Circe") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circe-Light.eot");
  /* IE9 */
  src: url("../fonts/Circe-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Circe-Light.woff") format("woff"),
  url("../fonts/Circe-Light.ttf") format("truetype"),
  url("../fonts/Circe-Light.svg#Circe Light") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circe-Extra-Light.eot");
  /* IE9 */
  src: url("../fonts/Circe-Extra-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Circe-Extra-Light.woff") format("woff"),
  url("../fonts/Circe-Extra-Light.ttf") format("truetype"),
  url("../fonts/Circe-Extra-Light.svg#Circe Extra Light") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/Circe-Thin.eot");
  /* IE9 */
  src: url("../fonts/Circe-Thin.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Circe-Thin.woff") format("woff"),
  url("../fonts/Circe-Thin.ttf") format("truetype"),
  url("../fonts/Circe-Thin.svg#Circe Thin") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Parimatch";
  font-display: swap;
  src: url("../fonts/Parimatch-Bold.eot");
  /* IE9 */
  src: url("../fonts/Parimatch-Bold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Parimatch-Bold.woff") format("woff"),
  url("../fonts/Parimatch-Bold.ttf") format("truetype"),
  url("../fonts/Parimatch-Bold.svg#Parimatch Bold") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Parimatch";
  font-display: swap;
  src: url("../fonts/Parimatch-Medium.eot");
  /* IE9 */
  src: url("../fonts/Parimatch-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Parimatch-Medium.woff") format("woff"),
  url("../fonts/Parimatch-Medium.ttf") format("truetype"),
  url("../fonts/Parimatch-Medium.svg#Parimatch Medium") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Parimatch";
  font-display: swap;
  src: url("../fonts/Parimatch-Regular.eot");
  /* IE9 */
  src: url("../fonts/Parimatch-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Parimatch-Regular.woff") format("woff"),
  url("../fonts/Parimatch-Regular.ttf") format("truetype"),
  url("../fonts/Parimatch-Regular.svg#Parimatch") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Parimatch";
  font-display: swap;
  src: url("../fonts/Parimatch-Light.eot");
  /* IE9 */
  src: url("../fonts/Parimatch-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Parimatch-Light.woff") format("woff"),
  url("../fonts/Parimatch-Light.ttf") format("truetype"),
  url("../fonts/Parimatch-Light.svg#Parimatch Light") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Parimatch";
  font-display: swap;
  src: url("../fonts/Parimatch-Thin.eot");
  /* IE9 */
  src: url("../fonts/Parimatch-Thin.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Parimatch-Thin.woff") format("woff"),
  url("../fonts/Parimatch-Thin.ttf") format("truetype"),
  url("../fonts/Parimatch-Thin.svg#Parimatch Thin") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 100;
}