.top1 {
  min-height: 440px;
  background-image: url("../img/homeTop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 112px 0 44px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include md{
    padding: 80px 0 32px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.7;
    @include tr;
  }

  &__row {

  }

  &__title {
    margin-bottom: 0;

    &:before {
      display: none;
    }

    span {
      display: block;
    }
  }

  &__row1 {
    margin-top: 75px;
  }

  &__lt1 {
    @include col(4);
    @include lg {
      @include col(5);
    }
    @include md{
      @include col(8);
      margin-bottom: 32px;
    }
  }

  &__rt1 {
    @include col(4);
    display: flex;
    justify-content: flex-end;
    @include lg {
      @include col(3);
    }
    @include md{
      @include col(8);
      justify-content: flex-start;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: -32px;
    margin-bottom: -16px;
    @include lg {
      //margin-right: -20px;
      //margin-bottom: -20px;
    }

    &Ic {
      flex-shrink: 0;
      margin-right: 4px;
    }

    &Link {
      display: flex;
      align-items: center;
      font-size: 20px;
      line-height: 29px;
      color: #FFFFFF;
      margin-right: 32px;
      margin-bottom: 16px;

      @include lg {
        //font-size: 18px;
        //margin-right: 20px;
        //margin-bottom: 20px;
        //line-height: 1.2;
      }

      &._active {
        position: relative;
        pointer-events: none;

        &:before {
          content: '';
          position: absolute;
          box-sizing: border-box;
          left: 0;
          right: 0;
          bottom: -4px;
          border-top: 1px solid #FFFFFF;
        }
      }

      path {
        @include tr;
      }

      &:hover {
        color: $hover;

        path {
          stroke: $hover;
        }
      }

    }
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: -48px;
    margin-bottom: -32px;
    @include lg {
      margin-left: -30px;
      margin-bottom: -20px;
    }

    @include md{
      justify-content: flex-start;
    }

    &Item {
      margin-left: 48px;
      margin-bottom: 32px;

      @include lg {
        margin-left: 30px;
        margin-bottom: 20px;
      }

      &:not(:first-child) {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          box-sizing: border-box;
          right: 100%;
          margin-right: 24px;
          top: 50%;
          margin-top: -8px;
          height: 16px;
          border: 1px solid #828282;

          @include lg {
            margin-right: 15px;
          }
        }
      }
    }
  }

}

.drop {
  position: relative;
  z-index: 1;
  &_mb{
    margin-bottom: 16px;
    @include lg{
      //margin-bottom: 20px;
    }
  }

  &:hover {
    .drop__ic {
      transform: rotate(180deg);
    }

    .drop__title {
      //color: $hover;
    }

    .drop__select {
      visibility: visible;
      z-index: auto;
      margin-top: 0;
      opacity: 1;
    }
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__ic {
    margin-right: 4px;
    flex-shrink: 0;
    @include tr;
  }

  &__title {
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    @include tr;
    @include lg {
      //font-size: 18px;
      //line-height: 1.2;
    }
  }

  &__select {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 7px 16px 17px;
    background: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    visibility: hidden;
    margin-top: -5px;
    opacity: 0;
    z-index: -1;
    @include tr;
    display: flex;
    flex-direction: column;

    @include lg {
      //width: 180px;
    }

    &Title {
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      padding: 10px 0;
      border-bottom: 1px solid #E0E0E0;
      @include tr;

      @include lg {
        //font-size: 14px;
        //line-height: 1.2;
      }

      &._active {
        color: $hover;
        pointer-events: none;
      }

      &:hover {
        color: $hover;
      }
    }
  }
}

.pCat {
  padding: 64px 0 136px;


  @include md {
    padding: 32px 0 80px;
  }

  &__foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    flex-wrap: wrap;

    @include md{
      flex-direction: column;
    }

    @include sm {
      padding-top: 40px;
    }
  }

  &__btn {
    flex-shrink: 0;
    margin-left: 50%;
    @include tX;

    @include md{
      margin: 0;
      transform: none;
    }
    @include sm{
      width: 100%;
    }
  }

}
.paginationWr{
  &:nth-child(1){
    width: 100%;
  }
}
.pagination {
  @include df;
  @include aic;
  @include jcc;
  flex-shrink: 0;
  //min-width: 30%;
  width: 100%;
  @include md{
    margin-top: 40px;
  }

  li {

    &.active {
      > * {
        color: $hover;
      }

      position: relative;

      &:after {
        content: '';
        position: absolute;
        box-sizing: border-box;
        left: 50%;
        margin-left: -5px;
        bottom: 0;
        width: 10px;
        border-bottom: 1px solid $hover;

      }
    }
  }

  a, span {
    font-size: 14px;
    line-height: 12px;
    color: #828282;
    width: 30px;
    height: 30px;
    @include df;
    @include aic;
    @include jcc;
  }

  a {
    &:hover {
      color: $hover;
    }
  }

  &__dots {
    span {
    }
  }

  &__prev {
  }

  &__next {
    a {
    }
  }

  &__first {
    a {
    }
  }

  &__last {
    a {
    }
  }
}

.top2 {
  min-height: 440px;
  padding: 112px 0 79px;
  background: #FAFAFA;
  display: flex;
  align-content: stretch;

  @include md{
    padding: 80px 0 32px;
    min-height: auto;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }


  &__row {
    flex-grow: 2;
    align-content: stretch;
    align-items: stretch;
  }

  &__rt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    line-height: 170%;
    @include md{
      margin-top: 24px;
      font-size: 18px;
    }
  }

  &__cat {
    color: #828282;
    margin-bottom: 30px;
    @include md{
      margin-bottom: 24px;
    }
  }

  &__date {

  }

  &__title {
    margin-bottom: 0;

    &:before {
      //width: 44px;
      //height: 132px;
      display: none;
    }

    span {
      display: block;
    }
  }

}

.bArticle {
  padding-top: 64px;
  @include md{
    padding-top: 56px;
  }
}

.article {
  justify-content: space-between;

  &__col {

    &_1 {
      p {

      }
    }

    &_2 {
      max-width: 396px;
      @include lg{
        max-width: 320px;
      }
      @include md{
        display: none;
      }
    }
  }

  &__tumb {
    margin-bottom: 48px;
    width: 100%;
    display: block;
    @include md{
      margin-bottom: 32px;
    }
  }

  &__desc {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 160%;

    @include md{
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 20px;
    }
    @include sm{
      font-size: 16px;
      line-height: 1.5;
    }

    p {
      font: inherit;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__cont {
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    padding-bottom: 48px;
    border-top: 1px solid #F2F2F2;
    margin-bottom: 16px;
    @include md{
      font-size: 18px;
      line-height: 1.6;
      padding-bottom: 32px;
      margin-bottom: 0;
    }
    @include sm{
      font-size: 16px;
      line-height: 1.5;
      padding-bottom: 16px;
    }

    p {
      margin-bottom: 20px;
      font: inherit;
    }

    img {
      margin: 20px 0;
      @include md{
        margin: 0;
      }
    }
  }

  &Share {
    display: flex;
    align-items: center;

    &__title {
      font-size: 20px;
      line-height: 170%;
      margin-right: 16px;

      @include md{
        font-size: 18px;
        line-height: 1.6;
      }
      @include sm{
        font-size: 16px;
        line-height: 1.5;
      }
    }

    &__b {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-right: -24px;
      margin-bottom: -24px;
      flex-shrink: 0;
    }

    &__link {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      margin-right: 24px;
      margin-bottom: 24px;
    }
  }


  &__subscribe {
    padding: 40px 32px;
    color: #fff;
    background: $red;
    margin-bottom: 48px;

    &Title {
      font-size: 20px;
      line-height: 29px;
      margin-bottom: 24px;
    }

    &Group {
      position: relative;
    }

    &Input {
      border-bottom: 1px solid #FFFFFF;
      background-color: transparent;
      margin-bottom: 24px;
      font-size: 14px;
      color: #FFFFFF;
      min-height: 56px;
      display: block;
      @include placeholder(#fff);
      width: 100%;
    }

    .form__error {
      color: #fff;
    }
  }
}

.interesting {
  &__title {
    color: $black;
    margin-bottom: 16px;
  }

  &Items {
    &__item {
      border-top: 1px solid $grey1;
      padding-top: 24px;
      margin-top: 24px;
      @include tr;

      &:hover {
        .interestingItems__title {
          color: $hover;
        }
      }
    }

    &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 18px;
    }

    &__date {

    }

    &__cat {
      color: #828282;
    }

    &__title {
      font-size: 16px;
      line-height: 150%;
      @include tr;
    }
  }
}
