$black: #000;
$black1: #030303;
$black2: #212121;
$grey: #4F4F4F;
$grey1: #E0E0E0;
$grey2: #FAFAFA;
$grey3: #828282;
$yellow: #F9D231;
$yellow1: #FFD504;
$red: #CB0D58;
$focus: #F2C2D5;

$hover: $red;
$background: #fff;